


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Reseting Values */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body{
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Header */
header{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 80%;
  width: 15%;
  margin-left: 3%;
}

.contacto{
  vertical-align: middle;
  margin-right: 3%;
  color: gray;
}

.contacto:hover {
  color: black;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Hero Section */
.heroSection{
  width: 100%;
  height: 80vh;
  position: relative;
}

h1{
  position: absolute;  
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
  width: 35%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

h1 span{
    font-weight: 600;
}

.scrollGif{
  position: absolute;
  height: 30%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Us Section */
.usSection{
  width: 80%;
  height: 80vh;
  margin: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.usSection h3{
  font-size: 1.7em;
}

.usSection div{
  width: 2px;
  height: 35%;
  background: black;
}

.usSection p{
  width: 40%;
  font-size: 2.5em;
  font-weight: 100;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Image Separator */
.imageSeparator{
  height: 500px;
  width: 100%;
  background-image: url("../assets/sample.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Services Section */
.servicesSection{
  width: 100%;
  height: 85vh;
  margin-top: 100px;
}

.navigator{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigatorItem{
  width: 15%;
  height: 100%;
}

.navigatorIconCircle{
  height: 48px;
  position: relative;
}

.navigatorIconCircleBottom{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorIconCircleTop{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/circleInner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorIconSquare{
  height: 48px;
  position: relative;
}

.navigatorIconSquareBottom{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/square.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorIconSquareTop{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/squareInner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorIconTriangle{
  height: 48px;
  position: relative;
}

.navigatorIconTriangleBottom{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorIconTriangleTop{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/triangleInner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorItem p{
  margin-top: 10%;
  font-weight: 200;
  text-align: center;
  opacity: 0.7;
}


/* Testing Only -------------*/
.navigatorItem:nth-child(1) p{
  margin-top: 10%;
  font-weight: 500;
  text-align: center;
  opacity: 1;
}
/* Testing Only -------------*/



.servicesContainer{
  width: 80%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow{
  width: 5%;
  padding-top: 10%;
  background-image: url("../assets/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow:nth-of-type(1){
  transform: rotate(180deg);
}

.servicesContainer h3{
  width: 20%;
  padding-left: 5%;
  font-weight: 700;
  font-size: 2.5em;
}

.servicesContainer p{
  width: 40%;
  font-weight: 100;
  font-size: 1.8em;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Mockup Section */
.mockupSection{
  width: 100%;
  height: 300vh;
  margin-bottom: 100px;
}

.mockupContainer{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.mockupContainer h3{
  width: 45%;
  flex-shrink: 2;
  font-weight: 700;
  font-size: 3em;
}

.mockupContainer span{
  width: 50%;
  height: 100vh;
  flex-shrink: 2;
}

.wireframeContainer{
  height: 100vh;
  width: 50%;
  flex-shrink: 2;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.wireframeContainer div{
  width: 100%;
  height: 100vh;
}

.sketch{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/Mockup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wireframe{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/sample.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.mockup{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/Mockup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Pymes Section */
.pymeSection{
  width: 100%;
  height: 100vh;
  position: relative;
}

.pymeContainer{
  width: 80%;
  height: 70%;
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.pymeContainer h3{
  width: 40%;
  flex-shrink: 3;
  font-weight: 700;
  font-size: 4em;
}

.pymeContainer p{
  width: 40%;
  flex-shrink: 3;
  font-weight: 200;
  font-size: 1.7em;
}

.pymeContainer button{
  height: 15%;
  width: 40%;
  flex-shrink: 3;
  background: rgb(74,147,245);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25em;
}

.pymeImage{
  width: 40%;
  padding-top: 40%;
  flex-shrink: 1;
  background-image: url("../assets/convo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Contact Section */
.contactSection{
  width: 100%;
  height: 100vh;
  background: black;
}































/************************************************************************************************************************************************/
/* Really Small or Old Cellphones */
@media only screen and (max-width: 43rem) {

}
















/************************************************************************************************************************************************/
/* Modern Phones and some Tablets*/
@media only screen and (max-width: 62rem) {

  header{
  height: 15vh;
}

  .logo{
    margin-left: 7%;
    width: 40%;
  }

  .contacto{
    font-size: 2.7em;
    margin-right: 7%;
  }

  h1{  
  font-size: 5em;
  padding-top: 250px;
  width: 80%;
  }

  .scrollGif{
    bottom: 140px;
  }

  /*-------------------------------------------------------------------------------------------------------------------------------*/
  /* Us Section */
  .usSection{
    height: 100vh;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .usSection h3{
    font-size: 3.5em;
  }

  .usSection div{
    width: 40%;
    height: 2px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .usSection p{
    width: 90%;
    font-size: 6em;
  }


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Image Separator */
  .imageSeparator{
    height: 60vh;
    margin-top: 10%;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Services Section */
  .navigator{
    width: 90%;
  }

  .navigatorItem{
    width: 30%;
  }

  .navigatorIconCircle{
    height: 60px;
  }

  .navigatorIconSquare{
    height: 60px;
  }

  .navigatorIconTriangle{
    height: 60px;
  }

  .navigatorItem p{
    font-size: 2.5em;
    margin-top: 40%;
    text-align: center;
  }

  .navigatorItem:nth-child(1) p{
    margin-top: 40%;
    font-size: 2.5em;
    text-align: center;
  }

  .servicesContainer{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .arrow:nth-of-type(1){
    order: 1;
  }

  .arrow{
    width: 18%;
    padding-top: 18%;
    order: 2;
    flex-shrink: 2;
  }

  .servicesContainer h3{
    width: 100%;
    font-size: 5em;
    order: 3;
    padding-left: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .servicesContainer p{
    width: 100%;
    margin-top: 5%;
    font-size: 3.5em;
    font-weight: 200;
    order: 4;
  }
}
/************************************************************************************************************************************************/












