

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Reseting Values */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body{
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Header */
header{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 80%;
  width: 15%;
  margin-left: 3%;
}

.down{
  width: 5%;
  padding-top: 5%;
  margin-right: 3%;
  background-image: url("../assets/down.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Hero Section */
.heroSection{
  width: 100%;
  height: 80vh;
  position: relative;
}

h1{
  position: absolute;  
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
  width: 35%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #212427;
}

h1 span{
    font-weight: 600;
    color: #212427;
}

.scrollGif{
  position: absolute;
  height: 30%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Us Section */
.usSection{
  width: 80%;
  height: 80vh;
  margin: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.usSection h3{
  font-size: 1.7em;
  color: #212427;
}

.usSection div{
  width: 2px;
  height: 35%;
  background: black;
}

.usSection p{
  width: 40%;
  font-size: 2.5em;
  font-weight: 100;
  color: #212427;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Image Separator */
.imageSeparator{
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageSeparator:nth-of-type(1){
  background-image: url("../assets/separatorOne.png");
}

.imageSeparator:nth-of-type(2){
  background-image: url("../assets/separatorTwo.png");
}

.imageSeparator:nth-of-type(3){
  background-image: url("../assets/separatorThree.png");
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Services Section */
.servicesSection{
  width: 100%;
  height: 85vh;
  margin-top: 100px;
}

.navigator{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigatorItem{
  width: 15%;
  height: 100%;
}

.navigatorIconCircle{
  height: 48px;
  position: relative;
}

.navigatorIconCircleBottom{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigatorIconCircleTop{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/circleInner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0;
  transition: 500ms all ease;
}

.navigatorIconCircleTop.active{
  opacity: 1;
}

.navigatorIconSquare{
  height: 48px;
  position: relative;
}

.navigatorIconSquareBottom{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/square.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.navigatorIconSquareTop{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/squareInner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  transition: 500ms all ease;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.navigatorIconSquareTop.active{
  opacity: 1;
}

.navigatorIconTriangle{
  height: 48px;
  position: relative;
}

.navigatorIconTriangleBottom{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.navigatorIconTriangleTop{
  width: 45%;
  padding-top: 45%;
  background-image: url("../assets/triangleInner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  transition: 500ms all ease;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.navigatorIconTriangleTop.active{
  opacity: 1;
}

.navigatorItem p{
  margin-top: 10%;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  transition: 1s all ease;
  color: #1e293b;
}

.navigatorItem p.active{
  opacity: 1;
}


.servicesContainer{
  width: 80%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  height: 60vh;
  padding: 40px 0;
}

.slide-content{
  height: 80%;
  width: 80%;
  margin: 0 10%;
  overflow: hidden;
  border-radius: 0px;
}

.card{
  background: white;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  height: 70%;

}

.image-content{
  height: 20%;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;

}

.name{
  font-weight: 700;
  font-size: 3em;
  position: relative;
  width: 80%;
  color: #1e293b;
}

.description{
  font-weight: 100;
  font-size: 1.5em;
  position: relative;
  width: 83%;
  padding-top: 5%;
  color: #212427;
}

.swiper-navBtn{
  color: lightgray !important;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: #4070F4 !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
  width: 30px !important;
  height: 30px !important;
  opacity: 1;

}

.swiper-pagination-bullet-active{
  
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Mockup Section */
.mockupSection{
  width: 100%;
  height: 300vh;
  margin-bottom: 100px;
}

.mockupContainer{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.mockupContainer h3{
  width: 45%;
  flex-shrink: 2;
  font-weight: 700;
  font-size: 3em;
  color: #212427;
}

.mockupContainer span{
  width: 50%;
  height: 100vh;
  flex-shrink: 2;
}

.wireframeContainer{
  height: 100vh;
  width: 50%;
  flex-shrink: 2;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.wireframeContainer div{
  width: 100%;
  height: 100vh;
}

.sketch{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/LoFi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s all ease;
}

.wireframe{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/HiFi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: 1s all ease;
}

.wireframe.active{
  opacity: 1;
}

.mockup{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/Mockup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: 1s all ease;
}

.mockup.active{
  opacity: 1;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Pymes Section */
.pymeSection{
  width: 100%;
  height: 100vh;
  position: relative;
}

.pymeContainer{
  width: 80%;
  height: 70%;
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.pymeContainer h3{
  width: 40%;
  flex-shrink: 3;
  font-weight: 700;
  font-size: 4em;
  color: #212427;
}

.pymeContainer p{
  width: 40%;
  flex-shrink: 3;
  font-weight: 200;
  font-size: 1.7em;
  color: #212427;
}

.pymeContainer button{
  height: 15%;
  width: 40%;
  flex-shrink: 3;
  background: #3478f6;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25em;
  cursor: pointer;
}

.pymeContainer button:hover{
  background: #1e293b;
}

.pymeImage{
  width: 40%;
  padding-top: 40%;
  flex-shrink: 1;
  background-image: url("../assets/convo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Contact Section */
.contactSection{
  width: 100%;
  height: 85vh;
  position: relative;
  background: #161a1d;
  padding-top: 10%;
}

.circleContact{
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 50%;
}

.contactSection h2{
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 3.5em;
  font-weight: 500;
  text-align: center;
}

.contactContainer{
  width: 95%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.copyrightContainer{
  width: 25%;
}

.copyrightContainer p{
  color: white;
  font-weight: 200;
}

.copyrightContainer button{
  width: 100%;
  margin-top: 20px;
  color: white;
  text-align: left;
  text-decoration: underline;
  background: transparent;
  border: none;
  font-weight: 200;
  font-size: 1em;
  cursor: pointer;
}

.goToStart{
  width: 25%;
}

.goToStart a{
  height: 70px;
  width: 70px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-image: url("../assets/up.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.socialNetworks{
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.mailButton{
  width: 10%;
  padding-top: 10%;
  border: none;
  cursor: pointer;
  background: transparent;
  background-image: url("../assets/mail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.instaButton{
  width: 10%;
  padding-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border: none;
  cursor: pointer;
  background: transparent;
  background-image: url("../assets/insta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.whatsButton{
  width: 10%;
  padding-top: 10%;
  border: none;
  cursor: pointer;
  background: transparent;
  background-image: url("../assets/whats.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}






























/************************************************************************************************************************************************/
/* Really Small or Old Cellphones */
@media only screen and (max-width: 43rem) {

}
















/************************************************************************************************************************************************/
/* Modern Phones and some Tablets*/
@media only screen and (max-width: 62rem) {

  header{
  height: 15vh;
}

  .logo{
    margin-left: 7%;
    width: 40%;
  }

  .down{
    width: 15%;
    padding-top: 15%;
    margin-right: 5%;
  }

  h1{  
  font-size: 5em;
  padding-top: 250px;
  width: 80%;
  }

  .scrollGif{
    bottom: 140px;
  }

  /*-------------------------------------------------------------------------------------------------------------------------------*/
  /* Us Section */
  .usSection{
    height: 100vh;
    width: 100%;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .usSection h3{
    font-size: 3.5em;
  }

  .usSection div{
    width: 40%;
    height: 2px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .usSection p{
    width: 90%;
    font-size: 6em;
  }


/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Image Separator */
  .imageSeparator{
    height: 80vh;
    margin-top: 10%;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

/*------------------------------------------------------------------------------------------------------------------------------------*/
/* Services Section */
  .navigator{
    width: 90%;
  }

  .navigatorItem{
    width: 30%;
  }

  .navigatorIconCircle{
    height: 60px;
  }

  .navigatorIconSquare{
    height: 60px;
  }

  .navigatorIconTriangle{
    height: 60px;
  }

  .navigatorItem p{
    font-size: 2.5em;
    margin-top: 40%;
    text-align: center;
  }

  .navigatorItem:nth-child(1) p{
    margin-top: 40%;
    font-size: 2.5em;
    text-align: center;
  }

  .servicesContainer{
    width: 100%;
    margin-top: 10%;
  }

  .slide-container{
    max-width: 1120px;
    width: 100%;
    height: 70vh;
    padding: 40px 0;
  }

  .slide-content{
    height: 90%;
    width: 80%;
    margin: 0 10%;
    overflow: visible;
    border-radius: 25px;
  }

  .card{
    border-radius: 25px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    background: white;
    margin-right: 2.8rem !important;
  }

  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    height: 70%;
  }

  .image-content{
    height: 20%;
    position: relative;
    padding: 25px 0;
  }

  .name{
    font-weight: 700;
    font-size: 5em;
    position: relative;
    width: 80%;
    padding-top: 3%;
  }

   .name span{
    font-weight: 700;
    font-size: 0.5em;
  }

  .description{
    font-weight: 100;
    font-size: 3em;
    position: relative;
    width: 80%;
    padding-top: 3%;
  }

  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }

  .swiper-navBtn:hover{
    color: #4070F4;
  }

  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
    opacity: 0;
  }

  .swiper-button-next{
    right: 0;
    opacity: 0;
  }

  .swiper-button-prev{
    left: 0;
    opacity: 0;
  }

  .swiper-pagination-bullet{
    width: 30px !important;
    height: 30px !important;
    opacity: 1;

  }

  .swiper-pagination-bullet-active{
  }

  /*------------------------------------------------------------------------------------------------------------------------------------*/
  /* Mockup Section */

  .mockupSection{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }

  .mockupContainer{
    width: 80%;
    flex-flow: column wrap;
  }

  .mockupContainer h3{
    width: 100%;
    font-weight: 700;
    font-size: 5.5em;
    order: 1;
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
  }

  .mockupContainer h3:nth-of-type(3){
    margin-bottom: 0px;
  }

 .mockupContainer span{
    width: 0%;
    height: 0;
  }

  .wireframeContainer{
    height: 70vh;
    width: 100%;
    margin-bottom: 300px;
  }

  .wireframeContainer div{
    width: 100%;
    height: 70vh;
    background-size: cover;
  }


  /*------------------------------------------------------------------------------------------------------------------------------------*/
  /* Pymes Section */

  .pymeContainer{
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
  }

  .pymeContainer h3{
    width: 85%;
    flex-shrink: 1;
    font-weight: 700;
    font-size: 6em;
    
    }

  .pymeContainer p{
    width: 85%;
    flex-shrink: 1;
    font-weight: 200;
    font-size: 3.5em;
    margin-bottom: 0px;
  }

  .pymeContainer button{
    order: 4;
    height: 8%;
    width: 100%;
    margin-top: 20px;
    flex-shrink: 1;
    padding: 15px 32px;
    font-size: 2.5em;
  }

  .pymeImage{
    width: 85%;
    padding-top: 85%;
    flex-shrink: 1;
  }

  /*------------------------------------------------------------------------------------------------------------------------------------*/
  /* Contact Section */
  .contactSection{
    width: 100%;
    height: 85vh;
    position: relative;
    background: black;
    padding-top: 30%;
  }

  .circleContact{
    width: 20%;
    height: 0;
    padding-top: 20%;
    border-width: 4px;
  }

  .contactSection h2{
    width: 80%;
    margin-top: 20%;
    font-size: 4.5em;
  }

  .contactContainer{
    width: 95%;
    height: 45%;
    flex-flow: column wrap;
  }

  .copyrightContainer{
    width: 90%;
    margin-bottom: 10%;
    order: 3;
  }

  .copyrightContainer p{
    font-size: 2.5em;
  }

  .copyrightContainer button{
    margin-top: 50px;
    font-size: 2.5em;
  }

  .goToStart{
    width: 50%;
  }

  .goToStart a{
    height: 150px;
    width: 150px;
    margin-bottom: 0px;
  }

  .socialNetworks{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .mailButton{
    width: 10%;
    padding-top: 10%;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../assets/mail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .instaButton{
    width: 10%;
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../assets/insta.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .whatsButton{
    width: 10%;
    padding-top: 10%;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../assets/whats.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }



}
/************************************************************************************************************************************************/













